/*==================================================
                    NAV-BAR
====================================================*/
@media (min-width: 992px) {
      #sideNavbar {
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 17rem;
          height: 100vh;
      }
      #sideNavbar .navbar-brand {
          display: flex;
          margin: auto auto 0;
          padding: 0.5rem;
      }
      #sideNavbar .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
          border: 0.5rem solid rgba(255, 255, 255, 0.2);
      }
      #sideNavbar .navbar-collapse {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          width: 100%;
          margin-bottom: auto;
      }
      #sideNavbar .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%;
      }
      #sideNavbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
      }
  }
  #sideNavbar .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      text-transform: uppercase;
  }


  /*==================================================
                      Generic
  ====================================================*/

  @media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
}
/*==================================================
                    about
====================================================*/
#about {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    background-image: url(../img/about_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.trigger{
border: 4px solid #000;
max-width: 29%;

}

.trigger:hover .move{
  transform: translate(120%,0%);
}
.move {
  transition: transform 300ms ease-in-out;
}
